.titleContainer {
    padding: 16px 8px;
    background-color: var(--color-neutralGrey300);
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 64px;
    border-radius: 8px;
}