.page {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    width: 32px;
    height: 32px;
    margin: 0;
    color: var(--color-neutralGrey800);
}

.active {
    background-color: var(--color-blue700);
    border-radius: 4px;
    color: white;
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
}