.section {
    flex-grow: 1;
    padding: 24px;
}

.formContainer {
    flex-direction: column;
    background-color: var(--color-neutralWhite);
    padding: 40px 24px;
    border-radius: 16px;
    gap: 24px;
}



@media screen and (max-width: 600px) {
    .formContainer {
        width: 100%;
        padding: 24px 16px;
    }

    .formContainer h1{
        text-align: center;
        font-size: 24px;
    }

    .formContainer img{
        width: 80%;
    }

    .form {
        padding: 0px;

    }
}