.container {
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed; 
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(48, 48, 48, 0);
    opacity: 0;
    pointer-events: none;
    transition: 
        all 0.4s ease-in-out;

}

.container.active{ 
    background-color: rgba(48, 48, 48, 0.55);
    opacity: 1;
    pointer-events: auto;
}



.alert {
    background-color: white;
    min-width: 400px;
    padding: 2rem;
    border-radius: 8px;

    transform: translateY(30px) scale(0.95);
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    margin-top: -250px;
    height: 250px;
}

.container.active .alert {
    transform: translateY(0) scale(1);
}