.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    gap: 16px;
    width: 100%;
    z-index: -1;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.customerInfo {
    display: flex;
    gap: 16px;
    padding: 8px;
    width: 100%;
    /* justify-content: center; */
    border: 1px solid var(--color-neutralGrey400);
    border-radius: 8px;
    /* background-color: yellow; */
}

.customerContainer {
    display: flex;
    flex-direction: column;
}