.table td[data-label="invoice_number"],
.table td[data-label="date"],
.table td[data-label="total"],
.table td[data-label="total_reference"],
.table td[data-label="total_paid"],
.table td[data-label="exchange_rate"] {
    text-align: right;
}

.table tbody tr:hover{
  background-color: #EEE1C4 !important;
  cursor: default;
}
