.panel {
    flex-direction: column;
    padding: 24px 16px;
    background-color: var(--color-blue700);
    width: 15%;
    gap: 8px;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.menu {
    flex-grow: 1;
    padding: 24px 0px;
    width: 100%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 16px;
}

.menuItem {
    padding: 0px 0px 8px 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--color-neutralWhite);
    border-bottom: 1px solid var(--color-neutralGrey600);
    cursor: pointer;
}