.form {
    background-color: var(--color-neutralGrey400);
    border-radius: 16px;
}

.table td[data-label="amount"] {
    text-align: right;
}

.inputNumber {
    user-select: none !important;
}

.tableProducts td[data-label="quantity"],
.tableProducts td[data-label="unitPriceBs"],
.tableProducts td[data-label="unitPriceDollar"] {
    text-align: right;
}

.tableProducts, .tableReturnedProducts {
    height: 240px;
    border-radius: 4px
}



.returnInput {
    padding: 2px
}