.select {
    appearance: none;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: var(--color-neutralGrey300);
}

.select option {
    margin-top: 8px;
    border: none;
    color: black;
    padding: 10px;
    z-index: 3;
}