.cartContainer{
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 776px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--color-neutralGrey300);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
}

.cartHeader{
    padding: 8px 16px;
    width: 100%;
    background-color: var(--color-blue400);
    border-radius: 8px 8px 0px 0px;
    justify-content: flex-start;
    gap: 0px;
}

.headerCOD{
    width: 5%;
    /* background: red; */
}

.headerNAME{
    width: 50%;
}

.headerPRICE{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    /* background:pink; */
}

.headerQUANTITY{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    /* background: grey; */
    
}

.headerTOTAL{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    /* background: green; */
}

.cartContent{
    padding: 8px 16px;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
}

.cartItems{
    padding: 0px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.cartRow{
    min-width: 0;
    padding: 8px 16px;
    gap: 0px;
    width: 100%;
    justify-content: flex-start;
}

.cartRow:hover{
    background-color: rgba(165, 164, 164, 0.15);
}

.itemNameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 0;
}

.itemPriceContainer{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.itemQuantityContainer{
    display: flex;
    justify-content: flex-end;
    width: 15%;
}

.itemTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 15%;
}

.itemName{
    flex: 1;
    min-width: 0; 
    max-width: 90%;
}

.totalContainer{
    padding: 0px;
    width: 100%;
    justify-content: flex-end;
    padding: 16px;
    gap: 24px;
    background-color: var(--color-neutralGrey400)
}

.inputQuantity{
    width: 80%;
    text-align: right;
    background-color: transparent;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 6px;
    border: solid 1px rgb(163, 163, 163);
    font-family: var(--sfui-font), sans-serif;
    font-weight: 300;
}

.inputQuantity::-webkit-inner-spin-button,
.inputQuantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputQuantity {
    appearance: textfield;
}

@media screen and (max-width: 1600px){
    .itemNameContainer{
        width: 50%;
    }
}