.footer {
    flex-direction: column;
    gap: 16px;
    justify-content: start;
    background-color: var(--color-neutralBlack);
}

.footerMenuContainer {
    gap: 48px;
    padding: 0px;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.menuItem {
    height: 194px;
}


.line {
    width: 100%;
    border-bottom: 1px solid var(--color-neutralGrey100);
    background-color: blue;
}

.text {
    color: var(--color-neutralGrey100)
}

@media screen and (max-width: 768px) {
    .footer {
        gap: 24px;
    }

    .footerMenuContainer {
        gap: 24px;
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .menuItem {
        height: auto;
    }

    .text {
        text-align: center;;
    }

}