.mainContainer {
    display: flex;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.searchContainer, 
.cartContainer {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 50%;
    height: 100%;
    z-index: 0;
}

.hide {
    display: none;
}

.dividingLine{
    height: 4px;
    border-radius: 8px;
}

@media screen and (max-width: 1220px){
    .mainContainer {
        flex-direction: column;
        gap: 8px;

    }
    .searchContainer, 
    .cartContainer {
        min-width: 100%;
    }
}

