/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root {
  /* primary colors */
  --color-blue800: #12113B;
  --color-blue700: #1B4279;
  --color-blue600: #80CDED;
  --color-blue400: #D2EDF9;
  --color-blue100: #F7FCFF;
  /* end primary colors */

  /* neutral */
  --color-neutralBlack: #1F2223;
  --color-neutralGrey900: #363939;
  --color-neutralGrey800: #57595A;
  --color-neutralGrey700: #797A7B;
  --color-neutralGrey600: #B1B2B2;
  --color-neutralGrey500: #D2D3D3;
  --color-neutralGrey300: #EFEFEF;
  --color-neutralGrey100: #F6F6F6;
  --color-neutralWhite: #FFFFFF;
  /* end netural */

  /* blue accent */
  --color-accentBlue400: #7774D7;
  --color-accentBlue300: #C5C4EE;
  --color-accentBlue200: #D8D7F4;
  /* end blue accent */

  /* orange accent */
  --color-accentOrange400: #DDA852;
  --color-accentOrange300: #E2CC9C;
  --color-accentOrange200: #EEE0C4;
  /* end orange accent */

  /* red accent */
  --color-accentRed400: #E16868;
  --color-accentRed300: #EA9595;
  --color-accentRed200: #F2BFBF;
  /* end red accent */
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sfui-font), sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutralGrey100);
  height: 100vh;
}

/* fonts */

/* headings */
h1, h2, h3, label, p, nav{
  margin: 0;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-neutralBlack)
}

.h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--color-neutralBlack)
}

.h3 {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-neutralBlack)
}

/* end headings */

/* body */

.p1-r {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.p1-b {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.p2-r {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.p2-b {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.p3-r {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.p3-b {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-neutralBlack)
}

.l1-r {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-neutralBlack)
}

.l1-b {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-neutralBlack)
}

.l2-r {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-neutralBlack)
}

.l2-b {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-neutralBlack)
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;

}

a {
    text-decoration: none;
    color: inherit;
}

/* end body */

/* end fonts */

/* container  */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 40px;
}
/* end container  */


.container-list {
  padding: 0px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-grow: 1;
  width: 100%;
}


/* others*/
.shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow-sm {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* form error */
.field_error {
  color: var(--color-accentRed400);
  font-size: 14px;
  margin-top: 4px;
}

.success_message {
  color: var(--color-blue700);
  font-size: 14px;
}

/* end others */
 