/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root {
  --color-blue800: #12113B;
  --color-blue700: #1B4279;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sfui-font), sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;

}

/* fonts */

/* headings */
h1, p {
  margin: 0;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
}

.h2 {
  font-weight: 600;
  font-size: 32px;
}

.h3 {
  font-weight: 500;
  font-size: 24px;
}

/* end headings */

/* body */

.p1-r {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
}

.p1-b {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

.p2-r {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
}

.p2-b {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.p3-r {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}

.p3-b {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.l1-r {
  font-weight: 500;
  font-size: 16px;
}

.l1-b {
  font-weight: 600;
  font-size: 16px;
}

.l2-r {
  font-weight: 500;
  font-size: 14px;
}

.l2-b {
  font-weight: 600;
  font-size: 14px;
}



/* end body */


/* end fonts */

 