.inputNumber::-webkit-inner-spin-button,
.inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputNumber {
  -moz-appearance: textfield;
  appearance: textfield;
}

.formview {
  margin-top: 16px;
  width: 50%;
  background: var(--color-neutralGrey500);
  flex-grow: 0 !important;
  padding: 16px;
  border-radius: 8px;
}
