.container {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;

}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table .number {
    text-align: right;
}