.headerContainer{
    flex-direction: column;
    gap: 0px;
    width: 100%;
    padding: 0px;
    justify-content: start;
    border-radius: 0px 0px 8px 8px;
    margin-top: -14px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 11px 7px -7px rgba(0,0,0,0.59);

}

.header{
    padding:  8px 16px;
    justify-content: start;
    width: 100%;
    gap: 0px;
    background-color: var(--color-blue400);
}

.resultsContainer{
    width: 100%;
    flex-direction: column;
    padding: 0px;
    cursor: pointer;
    gap: 0px
}

.headerCOD {
    width: 10%;
    /* background: red; */

}

.headerName {
    width: 60%;
    /* background: yellow; */
}

.headerPrice, .headerPriceBs{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    /* background: green; */
}

.resultCOD{
    width: 10%;
    /* background: red; */
}

.resultName {
    width: 60%;
    /* background: yellow; */
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.resultPrice, .resultPriceBs{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    /* background: green; */

}

.result{
    gap: 0px;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;

}

.result:hover{
    background-color: rgba(165, 164, 164, 0.15);
}